
@import url("https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css");
body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Inter", sans-serif;
}

body,
html {
    height: 100%;
    color: #777;
    line-height: 1.8;
}

/* Create a Parallax Effect */
.bgimg-1,
.bgimg-2,
.bgimg-3 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url('../images/school.jpg');
    min-height: 100%;
}

/* Second image (GALLERY) */
.bgimg-2 {
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipNXyoAclQ2F8poo6Nmz1ZuCSFQ62-eDvcvH77uR=s680-w680-h510");
    min-height: 400px;
}

/* Third image (Contact) */
.bgimg-3 {
    background-image: url("https://lh3.googleusercontent.com/p/AF1QipOTpw5-ARL1NOdB2Mad3l1hKJZzfiTLFPN84w31=s680-w680-h510");
    min-height: 400px;
}

.w3-wide {
    letter-spacing: 10px;
}

.w3-hover-opacity {
    cursor: pointer;
}
.longitude {
    border-radius: 4px;
    background-color: #5ca1e1;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 220px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 36px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .longitude{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .longitude:after {
    content: '';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .longitude:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .longitude:hover:after {
    opacity: 1;
    right: 10px;
  }

#swiper-quotes{
    border: none;
}
/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1600px) {

    .bgimg-1,
    .bgimg-2,
    .bgimg-3 {
        background-attachment: scroll;
        min-height: 100%;
    }
}
a{
    text-decoration: none;
}

*{
    scroll-behavior: smooth;
}